# --- Bỏ qua các file đã biên dịch (Kết quả chạy) ---
*.exe
*.dll
*.obj
*.o
*.lib
*.a
*.pdb
*.ilk
*.exp

# --- Bỏ qua các thư mục Build rác ---
# Nếu dùng Visual Studio
Debug/
Release/
x64/
x86/
.vs/
out/
build/

# --- Bỏ qua cấu hình riêng tư của IDE ---
# VS Code
.vscode/
*.code-workspace

# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# --- Bỏ qua file rác hệ điều hành ---
.DS_Store
Thumbs.db

# --- Nếu dùng đồ họa có file ảnh tạm/log ---
*.log
*.tlog
# --- Bỏ qua các file tạm thời ---
*~
*.tmp
*.bat
*.swp
*.synctex.gz
*.bat
# --- Bỏ qua các file cấu hình cá nhân ---
*.tex
*.aux
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.blg
*.bbl
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.glo
*.gls